<app-title title="Users"><button routerLink="add">+</button></app-title>

<div class="row-list">
  <div *ngFor="let user of users" class="row-item" >
    <div class="row-item-content" routerLink="{{user.id}}/edit">
      <span class="online-status" [class.online-status--online]="user.onlineStatus === 'Online'"></span>
      <span>{{ user.name }}</span>
      <span>{{ user.status }}</span>
    </div>
    <button (click)="remove(user.id)">remove</button>
  </div>
</div>

<router-outlet></router-outlet>
