<form [formGroup]="form">
  <div class="question-header">
    <div>{{question.name}}</div>
    <div>{{question.description}}</div>
  </div>
  <div class="question-body">
    <div *ngFor="let answer of question.answers" class="answer">
      <div class="answer-body">
        <ng-container *ngIf="question.answerType === questionType.Textarea">
          <textarea [disabled]="_run.isFinished" [formControl]="form.controls.value" (change)="sendAnswer(answer)"></textarea>
        </ng-container>
        <ng-container *ngIf="question.answerType !== questionType.Textarea">
          <input id="{{question.id}}{{answer.id}}"
                 type="{{question.answerType}}"
                 name="{{question.id}}{{answer.id}}"
                 [disabled]="_run.isFinished"
                 [value]="answer.id"
                 [checked]="answer.id == form.controls.value.value"
                 [formControl]="form.controls.value" (change)="sendAnswer(answer)">
        </ng-container>
      </div>
      <label for="{{question.id}}{{answer.id}}" class="answer-header">{{answer.name}}</label>
    </div>
  </div>
</form>

