<form *ngIf="formGroup" [formGroup]="formGroup">
  <app-title title="{{isEdit ? 'Update' : 'Create'}} {{formGroup.get('name')?.value}}"></app-title>
  <div class="test-main">
    <div>
      <label for="name"></label>
      <input id="name" type="text" placeholder="Название теста" formControlName="name" />
    </div>
    <div>
      <label for="description"></label>
      <textarea id="description" placeholder="Описание теста" formControlName="description"></textarea>
    </div>
    <br />
    <div>
      <button (click)="clickHandler()">{{isEdit ? 'Update' : 'Create'}}</button>
      <button routerLink="../">Cancel</button>
    </div>
  </div>
  <div *ngIf="isEdit" class="test-body">
    <h2>Вопросы</h2>
    <div class="test-questions" formArrayName="questions">
      <div class="test-question" *ngFor="let questionForm of questions.controls; index as questionIndex" formGroupName="{{ questionIndex }}">
        <div class="question-info">
          <div class="question-name">
            <label for="name{{ questionIndex }}"></label>
            <input id="name{{ questionIndex }}" placeholder="Вопрос" type="text" (change)="questionChanged(questionForm)" formControlName="questionName" />
          </div>
          <div>
            <label for="answerType"></label>
            <select name="answerType" id="answerType" (change)="questionChanged(questionForm)" formControlName="answerType">
              <option *ngFor="let type of questionTypeString" value="{{type.type}}">{{ type.name }}</option>
            </select>
          </div>
        </div>

<!--        <div>-->
<!--          <label for="description{{ questionIndex }}"></label>-->
<!--          <input id="description{{ questionIndex }}" type="text" placeholder="Описание вопроса" (change)="questionChanged(questionForm)" formControlName="description" />-->
<!--        </div>-->
        <hr>
        <div *ngIf="questionForm.controls.answerType.value !== questionType.Textarea" class="question-answers">
          <div class="answer-list" formArrayName="answers">

            <div class="answer-item" *ngFor="let answerForm of getAnswers(questionForm).controls; index as answerIndex" formGroupName="{{ answerIndex }}">
              <div class="answer-body">
                <div class="answer-text">
                  <label class="answer-type answer-type-{{questionForm.controls.answerType.value}}" for="name{{ answerIndex }}"></label>
                  <input id="name{{ answerIndex }}"
                         type="text"
                         formControlName="name"
                         placeholder="Вариант {{answerIndex + 1}}"
                         (change)="saveAnswer(questionForm.controls.id.value!, answerForm, $event)"
                         (keydown.enter)="saveAnswer(questionForm.controls.id.value!, answerForm, $event)"
                  />
                </div>
                <button class="remove"
                        (click)="removeAnswer(answerForm, answerIndex, questionForm)">x</button>
              </div>

<!--              <div>-->
<!--                <label for="description{{ answerIndex }}">description:</label>-->
<!--                <input id="description{{ answerIndex }}"-->
<!--                       type="text"-->
<!--                       formControlName="description"-->
<!--                       (keydown.enter)="saveAnswer(questionForm.controls.id.value!, answerForm, $event)" />-->
<!--              </div>-->
            </div>
          </div>
          <div><button (click)="addAnswer(questionForm)">Добавить</button></div>
        </div>
<!--        <div>-->
<!--          <label for="freeAnswer{{ questionIndex }}">freeAnswer:</label>-->
<!--          <input id="freeAnswer{{ questionIndex }}" type="text" formControlName="freeAnswer" />-->
<!--        </div>-->
        <hr>
        <button (click)="removeQuestion(questionIndex, questionForm)">Удалить вопрос</button>
      </div>
    </div>
    <br>
    <button (click)="addQuestion()">Добавить вопрос</button>
  </div>
</form>
