:host {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
main {
  width: 960px;
}
.cards {
  display: grid;
  gap: 8px;
  grid-template-columns: 33.333333% 33.333333% 33.333333%;
  card {
    width: 100%;
    box-sizing: border-box;
  }
}
