:host {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
main {
  width: 960px;
}
.cards {
  display: grid;
  gap: 8px;
  grid-template-columns: auto auto auto;
  card {
    width: auto;
  }
}
