:host {
  display: block;
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  div {
    display: flex;
    align-items: center;
  }

  a {
    padding: 0 4px;
  }
}
